<nav class="navbar navbar-expand-lg navbar-light bg-default">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Owasp Top Ten API Training</a>
   
    
      <div class="navbar-nav my-4 my-sm-0">
        
        <div class="" ngbDropdown>
          <button class="btn btn-default dropdown-toggle text-light" type="button" id="dropdownMenuButton" ngbDropdownToggle>
            Account
          </button>
          <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
            <a class="dropdown-item" href="/home">Sign in</a>
            <a class="dropdown-item" href="javascript:void(0)">Sign up</a>
            
          </div>
        </div>

        <div class="" ngbDropdown>
          <button class="btn btn-default dropdown-toggle text-light" type="button" id="dropdownMenuButton" ngbDropdownToggle>
            Lessons
          </button>
          <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
            <a class="dropdown-item" href="/#/lesson1">Lesson1</a>
            <a class="dropdown-item" href="/#/lesson2">Lesson2</a>
            <a class="dropdown-item" href="/#/lesson3">Lesson3</a>
            <a class="dropdown-item" href="/#/lesson4">Lesson4</a>
            <a class="dropdown-item" href="/#/lesson5">Lesson5</a>
            <a class="dropdown-item" href="/#/lesson6">Lesson6</a>
            <a class="dropdown-item" href="/#/lesson7">Lesson7</a>
            <a class="dropdown-item" href="/#/lesson8">Lesson8</a>
            
          </div>
        </div>
        
      </div>
    
  </div>
</nav>