<nav class="navbar navbar-expand-lg navbar-light bg-default">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Owasp Top Ten API</a>
   
    
      <div class="navbar-nav my-4 my-sm-0">
        
        <div class="" ngbDropdown>
          <button class="btn btn-default dropdown-toggle text-light" type="button" id="dropdownMenuButton" ngbDropdownToggle>
            Account
          </button>
          <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
            <a class="dropdown-item" href="/home">Sign in</a>
            <a class="dropdown-item" href="javascript:void(0)">Sign up</a>
            
          </div>
        </div>

        <div class="" ngbDropdown>
          <button class="btn btn-default dropdown-toggle text-light" type="button" id="dropdownMenuButton" ngbDropdownToggle>
            Lessons
          </button>
          <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
        </div>
        
      </div>
    
  </div>
</nav>