<div class="row justify-content-start m-2">

    <div class="col-3 card bg-default p-3">
     <div class="card-body">
         <h2 class="card-title text-center text-light font-weight-bold">What is an API?</h2>
         <blockquote class="blockquote text-start">
           <p class="card-test text-light">{{msg}}</p>
         </blockquote>
        
        <!--<button (click)="nextStep()" type="button" class="btn btn-primary">Next</button>--> 
     </div>
     <div class="text-right">
       <button *ngIf="showPrev" (click)="prevMsg()" class="btn btn-warning">Back</button>
         <button *ngIf="showNext" (click)="nextMsg()" class="btn btn-warning">Next</button>
         
       <a href="#/lesson7"><button *ngIf="showNextLesson" class="btn btn-warning">Next Lesson</button></a>
       </div>
     </div>
 
     <div class="browser-box col-9" [attr.disabled]="isDisabled ? true : null">
     <div>
         
             <div class="fake-browser">
               <header class="fake-browser-header">
                 <div class="action-btns">
                   <span></span>
                   <span></span> <span></span>
                 </div>
                 <div class="address-bar">
                   <input type="text" value="https://api.open-meteo.com"/>
                 </div>
                 <div class="setting-more">
                   <span class="more-btn"></span>
                 </div>
               </header>
               <section class="fake-window-body bg-white">
                 <div class="p-5 text-center justify-content-center">
                   <h3 class="mb-4">Find User</h3>
                   
                     
                         <div class="col-lg-12">
                             <div class="form-group mb-4">
                               <label class="font-weight-bold" disabled>Username</label>
                               <input type="text" class="form-control text-center text-body" id="first_name" placeholder="John.Smith" readonly>
                            </div>
                         </div>
                         <div class="text-center">
                         <button class="btn btn-primary" (click)="respShow()">Go</button>
                         <button *ngIf="showIns" class="btn btn-primary" (click)="respShow()">Inspect</button>
                         </div>
                         <div class="row">
                           <div class="col">
                             <div class="resp-box text-end">
                               <label class="font-weight-bold" disabled>Legit Request</label>
                             <div *ngIf="showResp" class="resp-json-box">
                               <code class="text-default"> {{request}} </code>
                             </div>
                             <!-- -->
                           </div>
                           </div>
                           <div class="col">
                             <div class="resp-box text-end">
                               <label class="font-weight-bold" disabled>Crafted Request</label>
                             <div *ngIf="showReq" class="resp-json-box">
                               <code class="text-danger"> {{response}} </code>
                             </div>
                             <!-- -->
                           </div>
                           </div>
                         </div>
                        
                 </div>
                 
               </section>
             </div>
           </div>
     
   </div>
   </div>