.form-control[readonly]{
    color:red;
}
.terminal {
    border-radius: 5px 5px 0 0;
    /*border: solid 0.5px black;*/
    position: relative;
    margin-bottom: 0px;
}
.terminal .top {
    background: #444f65;
    color: white;
    padding: 6px;
    border-radius: 5px 5px 0 0;
}
.terminal .btns {
    position: absolute;
    top: 7px;
    left: 5px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}
.title{
    text-align: center;
}
.red { background: #EC6A5F; border-color: #D04E42; }
.green { background: #64CC57; border-color: #4EA73B; }
.yellow{ background: #F5C04F; border-color: #D6A13D; }
.clear{clear: both;}
.terminal .body {
    background: #222;
    color: #7AFB4C;
    padding: 8px;
    text-align: start;
    font-size: 12.5px !important;
}